<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset=UTF-8 />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta name="theme-color" content="#b483a6">
    <meta name="msapplication-navbutton-color" content="#b483a6">
    <meta name="apple-mobile-web-app-status-bar-style" content="#b483a6">
    <meta name="author" content="Xnet 智媒科技" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="fb:admins" content="" />
    <meta name="robots" content="index,follow" />
    <meta name="robots" content="noindex,follow" />
    <meta name="robots" content="index,nofollow" />
    <meta name="robots" content="noindex,nofollow" />
    <title>首頁│藝時代 Cultural Launch</title>

    <link rel="stylesheet" href='assets/font-awesome/css/font-awesome.min.css' />
    <link rel="stylesheet" href='assets/bootstrap/css/bootstrap.min.css' />
    <link rel="stylesheet" href='css/reset.css' />
    <link rel="stylesheet" href='assets/swipe/swiper.min.css' />
    <link rel="stylesheet" href='css/theme.css' />
    <link rel="stylesheet" href='css/post-layout.css' />
    <link rel="stylesheet" href='css/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link rel="shortcut icon" href="favicon.ico" />
    <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
</head>

<body class="hp">
    <div id="app">
        <div class="scroll-up">
            <i class="fa fa-chevron-up"></i>
        </div>

        <div class="menu-background"></div>
        <div id="mobile-nav">
            <div class="container">
                <div class="menu-socials-wrap">
                    <ul class="menu-socials">
                        <li>
                            <a target="_blank" href="#" title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#" title="Google+">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#" title=Instagram>
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#" title=Twitter>
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#" title=Youtube>
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </li>
                    </ul>
                    <div class=btn-close-mob>
                        <a href="#">
                            <i class=icon-close-mob></i>
                        </a>
                    </div>
                    <!-- btn-close-mob END -->
                </div>
                <!-- menu-socials-wrap END -->

                <div class=login-section>
                    <div class=guest-wrap>
                        <a href="login.html">登入/註冊</a>
                    </div>
                    <!-- guest-wrap END -->
                </div>
                <!-- login-section END -->

                <div class="mobile-content">
                    <ul class="mobile-main-menu">
                        <li class="menu-item sf-dropdown">
                            <a href="list.html">
                                最新消息
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class=sub-menu>
                                <li>
                                    <a href="list.html">產業動態</a>
                                </li>
                                <li>
                                    <a href="list.html">文化政策</a>
                                </li>
                                <li>
                                    <a href="list.html">民間文藝</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item sf-dropdown">
                            <a href="list.html">
                                活動
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class=sub-menu>
                                <li>
                                    <a href="list-grid.html">展覽</a>
                                </li>
                                <li>
                                    <a href="list-grid.html">表演</a>
                                </li>
                                <li>
                                    <a href="list-grid.html">體驗</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item sf-dropdown">
                            <a href="list.html">
                                藝MBA
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class=sub-menu>
                                <li>
                                    <a href="list-grid.html">產業經營</a>
                                </li>
                                <li>
                                    <a href="list-grid.html">設計</a>
                                </li>
                                <li>
                                    <a href="list-grid.html">跨界創新</a>
                                </li>
                                <li>
                                    <a href="list-grid.html">在地創生</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item sf-dropdown">
                            <a href="list.html">
                                跨界媒合
                                <i class="fa fa-chevron-down"></i>
                            </a>
                            <ul class=sub-menu>
                                <li>
                                    <a href="list.html">文創人才</a>
                                </li>
                                <li>
                                    <a href="list.html">群眾募資</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- mobile-content END -->
            </div>
            <!-- container END -->

        </div>
        <!-- mobile-nav END -->

        <div class=search-background></div>
        <div class=search-wrap-mob>
            <div class=dropDown-search>

                <div class=search-form action="#">
                    <div class="search-close">
                        <a href="#">
                            <i class="icon-close-mob"></i>
                        </a>
                    </div>
                    <div role="search" class="search-input">
                        <span>搜尋</span>
                        <input id="search-input-mob" type="text" autocomplete="off" />
                    </div>
                </div>
                <!-- search-form END -->
            </div>
        </div>
        <!-- search-wrap-mob END -->


        <div id="outer-wrap" class="wrapper">

            <div class="header">

                <div class="top-bar">
                    <div class="container">
                        <div class="top-menu">
                            <ul class="nav nav-pills">
                                <li>
                                    <a target="_blank" href="#" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="#" title="Youtube">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                                <!-- <li>
                                    <a target="_blank" href="#" title="Email"><i class="fa fa-envelope"></i></a>
                                </li> -->
                                <li>
                                    <a class="menu-item" href="login.html">
                                        <i class="fa fa-user"></i> 登入 / 註冊
                                    </a>
                                </li>
                                <li>
                                    <a class="menu-item" href="member-edit.html">
                                        <i class="fa fa-user"></i>　Hi 會員名稱
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- top-menu END -->
                    </div>
                    <!-- container END -->
                </div>
                <!-- top-bar END -->
                <!-- logo center -->
                <div class="logo">
                    <a href="hp.html" title="藝時代 Cultural Launch">
                        <span class="visual-hidden">藝時代 Cultural Launch</span>
                    </a>
                </div>

                <div class="navbar">

                    <div id="header-navbar" class="header-main-menu">
                        <div class="container">

                            <div class="navbar-header">
                                <button type="button" id=navbar-sticky-menu class="navbar-toggle collapsed">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <div class="navbar-brand">
                                    <a href="hp.html">
                                        <span class="visual-hidden">藝時代 Cultural Launch</span>
                                    </a>
                                </div>
                            </div>
                            <!-- navbar-header END -->

                            <div class="main-menu">
                                <ul class="sf-menu">

                                    <!-- <li class="menu-item sf-dropdown" v-for="item in webMenu">
                                        <a href="list.html">活動</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="list-grid.html">展覽</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="list-grid.html">表演</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="list-grid.html">體驗</a>
                                            </li>
                                        </ul>
                                    </li> -->

                                    <li is="menuComponent" v-for="(menuItem) in webMenu" :menu="menuItem" :key="menuItem.id"></li>
                                    <!-- 
                                    <li class="menu-item sf-dropdown">
                                        <a href="list.html">藝MBA</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="list-grid.html">產業經營</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="list-grid.html">設計</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="list-grid.html">跨界創新</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="list-grid.html">在地創生</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="list.html">專題報導</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="list.html">人物</a>
                                    </li> -->
                                    <li class="menu-item sf-dropdown">
                                        <a href="list.html">跨界媒合</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="list.html">文創人才</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="list.html">群眾募資</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <!-- menu-main-1 END -->
                            </div>
                            <!-- main-menu END -->

                            <div class="search-wrapper">
                                <div id="top-search">
                                    <div class="header-search-wrap">
                                        <div class="dropdown header-search">
                                            <a id="header-btn-search" href="#" role="button" class="dropdown-toggle" data-toggle=dropdown>
                                                <i class="fa fa-search"></i>
                                            </a>
                                            <a id="header-btn-search-mob" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fa fa-search"></i>
                                            </a>
                                        </div>
                                        <!-- dropdown END -->
                                    </div>
                                    <!-- header-search-wrap END -->
                                </div>
                                <!-- top-search END -->
                            </div>
                            <!-- search-wrapper END -->

                            <div class="header-search-wrap">
                                <div class="dropdown header-search">
                                    <div class="dropDown-search" aria-labelledby="header-btn-search">
                                        <div class="search-form">
                                            <div role="search">
                                                <input class="needsclick" id=search-input type=text value="" name=s autocomplete=off />
                                                <input class="wpb_button wpb_btn-inverse btn" type=submit id=header-search-top value=Search />
                                            </div>
                                        </div>
                                        <!-- search-form END -->
                                    </div>
                                    <!-- dropDown-search END -->
                                </div>
                                <!-- dropdown END -->
                            </div>
                            <!-- header-search-wrap END -->

                        </div>
                        <!-- container END -->
                    </div>
                    <!-- navbar header-navbar END -->

                </div>
                <!-- navbar END -->

            </div>
            <!-- header END -->


            <div class="main-content">

                <h1 class="site-title">藝時代 Cultural Launch</h1>

                <div class="main-content">
                    <div class="main-content-inner">

                        <div id="Slider" class="swiper-container">
                            <h2 class="main-title">
                                <span>Hot News</span>
                            </h2>
                            <div class="swiper-wrapper">
                                <div is="sliders" v-for="(bannerItem) in bannerLists" :banner="bannerItem" :key="bannerItem.id"></div>
                            </div>


                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <!-- Slider END -->

                    </div>
                </div>

                <div class="container">

                    <div class="row">
                        <div class="col-md-8 col-sm-8 main-content">
                            <div class=main-content-inner>

                                <h2 class="main-title">熱門文章</h2>

                                <div class="news-wrap news-list">

                                    <articles v-for="(articleItem) in artLists" :article="articleItem" :key="articleItem.id"></articles>

                                    <!-- col-md-12 END -->

                                </div>
                                <!-- news-list END -->

                                <div class=clearfix></div>

                            </div>
                            <!-- main-content-inner END -->
                        </div>

                        <div class="col-md-4 col-sm-4 main-sidebar">
                            <!-- <div class=main-sidebar-inner> -->
                            <div class="block-wrap">
                                <!-- <div class=block-title>AD</div> -->
                                <ul class="banner-group">
                                    <li class="col-md-12 col-sm-4 col-xs-4 thumbnail">
                                        <a href="#" title="img-banner-300x200" target="_blank">
                                            <img src="images/img-banner-300x200.jpg" alt="" title="">
                                        </a>
                                    </li>
                                    <li class="col-md-12 col-sm-4 col-xs-4 thumbnail">
                                        <a href="#" title="img-banner-300x200" target="_blank">
                                            <img src="images/img-banner-300x200.jpg" alt="" title="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- block-wrap END -->

                            <div class="block-wrap">
                                <div class=block-title>熱門排行榜</div>

                                <div class="news-wrap news-list">
                                    <div class="thumbnail">
                                        <div class="pic effect">
                                            <img src="https://images.unsplash.com/photo-1509291985095-788b32582a81?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3df807fb97311a00d38399243f18a4ab&auto=format&fit=crop&w=634&q=80"
                                                alt="" title="如何選擇適合自己的內容管理系統（CMS）">
                                            <a class="view-more" href="detail.html" title="了解更多">
                                                <span>more</span>
                                            </a>
                                        </div>

                                        <div class="caption">
                                            <h3 class="title">
                                                <a href="detail.html" title="如何選擇適合自己的內容管理系統（CMS）">如何選擇適合自己的內容管理系統（CMS）</a>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="thumbnail">
                                        <div class="pic effect">
                                            <img src="https://images.unsplash.com/photo-1509569785882-4c160654309e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=50a017034806c9eaf81d0477181f7f4b&auto=format&fit=crop&w=1350&q=80"
                                                alt="" title="如何選擇適合自己的內容管理系統（CMS）">
                                            <a class="view-more" href="detail.html" title="了解更多">
                                                <span>more</span>
                                            </a>
                                        </div>

                                        <div class="caption">
                                            <h3 class="title">
                                                <a href="detail.html" title="如何選擇適合自己的內容管理系統（CMS）">如何選擇適合自己的內容管理系統（CMS）</a>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="thumbnail">
                                        <div class="pic effect">
                                            <img src="https://images.unsplash.com/photo-1507587396692-5afe1f777676?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f4896d6d5ff445224485ff22493e423c&auto=format&fit=crop&w=634&q=80"
                                                alt="" title="如何選擇適合自己的內容管理系統（CMS）">
                                            <a class="view-more" href="detail.html" title="了解更多">
                                                <span>more</span>
                                            </a>
                                        </div>

                                        <div class="caption">
                                            <h3 class="title">
                                                <a href="detail.html" title="如何選擇適合自己的內容管理系統（CMS）">如何選擇適合自己的內容管理系統（CMS）</a>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="thumbnail">
                                        <div class="pic effect">
                                            <img src="https://images.unsplash.com/photo-1489809415321-e23671dcbc81?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fa140a740b16c639cd62930f158469ea&auto=format&fit=crop&w=1350&q=80"
                                                alt="" title="如何選擇適合自己的內容管理系統（CMS）">
                                            <a class="view-more" href="detail.html" title="了解更多">
                                                <span>more</span>
                                            </a>
                                        </div>

                                        <div class="caption">
                                            <h3 class="title">
                                                <a href="detail.html" title="如何選擇適合自己的內容管理系統（CMS）">如何選擇適合自己的內容管理系統（CMS）</a>
                                            </h3>
                                        </div>
                                    </div>

                                    <div class="thumbnail">
                                        <div class="pic effect">
                                            <img src="https://dummyimage.com/100x70/6b6b6b/fff.jpg" alt="" title="如何選擇適合自己的內容管理系統（CMS）">
                                            <a class="view-more" href="detail.html" title="了解更多">
                                                <span>more</span>
                                            </a>
                                        </div>

                                        <div class="caption">
                                            <h3 class="title">
                                                <a href="detail.html" title="如何選擇適合自己的內容管理系統（CMS）">如何選擇適合自己的內容管理系統（CMS）</a>
                                            </h3>
                                        </div>
                                    </div>

                                </div>
                                <!-- news-list END -->
                            </div>

                            <!--</div> main-sidebar-inner END -->
                        </div>
                        <!-- col-md-4 END -->

                    </div>
                    <!-- row END -->

                </div>
                <!-- container END -->
            </div>
            <!-- main-content END -->



            <footer class="footer">

                <div class="sub-footer">
                    <div class="container">
                        <div class=row>

                            <div class="col-md-12 sub-footer-menu">
                                <ul class="nav nav-pills">
                                    <li>
                                        <a href="#">關於我們</a>
                                    </li>
                                    <li>
                                        <a href="#">廣告刊登</a>
                                    </li>
                                    <li>
                                        <a href="#">版權聲明</a>
                                    </li>
                                    <li>
                                        <a href="#">網站導覽</a>
                                    </li>
                                    <li>
                                        <a href="#">聯絡我們</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- col-md-12 END -->

                            <div class="col-md-12 sub-footer-copy">
                                <p>&copy; 本網頁著作權為 藝時代 Cultural Launch 所有 / Copyright 2018 </p>
                            </div>
                            <!-- col-md-4 END -->


                        </div>
                        <!-- row END -->
                    </div>
                    <!-- container END -->

                </div>
                <!-- sub-footer END -->
            </footer>
            <!-- footer END -->


        </div>
        <!-- wrapper END -->
    </div>


    <script type="text/x-template" id="sliderContent">
            <div class="swiper-slide item">
                <div class="image" v-bind:style="{ background:'url(.'+  banner.pic +')' }">
                    <div class="carousel-caption">
                        <div class="container">
                            <h3>
                                <a href="detail.html">{{banner.subject}}</a>
                            </h3>
                            <p>{{banner.contents}}</p>
                        </div>
                    </div>
                    <a href="detail.html" class="view-more" title="了解更多">我想了解</a>
                </div>
            </div>
    </script>
    <script type="text/x-template" id="articleContent">
        <div class="col-md-12">
            <div class="thumbnail">
                <div class="pic effect col-xs-4">
                    <img :src="'.' + article.pic"
                        alt="" title="如何選擇適合自己的內容管理系統（CMS）">
                        <a class="view-more" href="detail.html" title="了解更多">
                            <span>more</span>
                        </a>
                </div>

                    <div class="caption col-xs-8">
                        <h3 class="title">
                            <a href="detail.html" title="{{article.subject}}">{{ article.subject }}</a>
                        </h3>
                        <div class=meta-info>
                            <a href="list.html" class="post-category" v-for="item in article.category" style="margin-left:1px">{{item.name}}</a>
                            <div class=post-author>
                                <span>By</span>
                                <a href="#/author/admin/">{{ article.author }}</a>
                                <span> - </span>
                            </div>
                            <span class=post-date>
                                <time>{{ time }}</time>
                            </span>
                            <div class=post-views>
                                <i class="fa fa-eye"></i>{{ article.viewcount }}
                            </div>
                            <div class=post-comments>
                                <a href="#respond">
                                    <i class="fa fa-comments"></i>0
                                </a>
                            </div>
                            <div class="post-keywords">
                                <i class="fa fa-tags"></i>
                                <a href="#" v-for="keyword in keywordsArray">{{keyword}}</a>
                            </div>
                        </div>
                        <!-- meta-info END -->
                        <p class="description">
                            {{ contentsWithoutHtmlTag }}
                        </p>
                        <a class="btn-read-more" href="detail.html">繼續閱讀</a>
                    </div>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="menuContent">
        <li class="menu-item sf-dropdown">             
            <a href="list.html">{{menu.title}}</a>      
            <ul class="sub-menu" v-if="menu.detial.length!=0">
                <li class="menu-item" v-for="item in menu.detial">
                    <a href="list.html">{{item.title}}</a>
                </li>
            </ul>
        </li>
    </script>
    <script>

        Vue.component('menuComponent', {
            props: ['menu'],
            template: '#menuContent',
            mounted(){
                theme();
            }
        })

        Vue.component('articles', {
            props: ['article'],
            template: '#articleContent',
            computed: {
                contentsWithoutHtmlTag() {
                    return this.article.contents.replace(/<[^>]+>/g, "");//去掉所有的html标记
                },
                keywordsArray() {
                    return this.article.keywords.split(',')
                },
                time() {
                    var postday = Date.parse(this.article.postDay);
                    var newDate = new Date(postday)
                    var month = newDate.getMonth() + 1;
                    var day = newDate.getDate();

                    return month + '/' + day
                }
            }
        })

        Vue.component('sliders', {
            props: ['banner'],
            template: '#sliderContent',
            created(){
                slider();
            }
        })

        let app = new Vue({
            el: '#app',
            data: {
                //msg: 'hello',
                api: 'https://www.culturelaunch.net/api/article',
                artLists: [],
                bannerLists: [],
                webMenu: []
            },
            methods: {
                // 取 banner 資料
                getBanner() {
                    const am = this;
                    axios.get(`${am.api}/Getbanner`)
                        .then(res => {
                            am.bannerLists = res.data;

                        })
                },
                // 取 WEB 選單
                GetWebMenu() {
                    const vm = this;
                    axios.get(`${vm.api}/Getwebmenu`)
                        .then(res => {
                            vm.webMenu = res.data;
                        })
                },
                // 取文章資料
                GetArticleList() {
                    const vm = this;
                    let apiData = { cid: '1', pagesize: "5" };
                    axios.post(`${vm.api}/GetArticleList`, apiData)
                        .then(res => {
                            vm.artLists = res.data;
                        })
                }
            },
            created() {
                this.getBanner();
                this.GetWebMenu();
                this.GetArticleList();

            }
        })



    </script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src='js/device.js'></script>
    <script src='js/theme.js'></script>
    <script src="assets/swipe/swiper.min.js"></script>
    <script src="assets/magnific/jquery.magnific-popup.min.js"></script>
    <script src='js/script.js'></script>
</body>

</html>